html {
  box-sizing: border-box;
}

body {
  background-color: aqua;
  min-height: 100vh;
  
}

.board {  
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color:antiquewhite;
}

.board > div {
  height: 40px;
  width: 40px;
}

#reset {
  margin-top: 30px;
}

.bomb {
  background-color:coral;
  
}

.clicked {
  background-color: aqua;
}

.clicked-zero {
  background-color: khaki;
}

.flag {
  text-align: center;
  background-color:chocolate;
}

