html {
  box-sizing: border-box;
}

body {
  /* background-color: rgb(109, 210, 210); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:darkred;
}

.board {  
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color:gray;
}

.board > div {
  height: 40px;
  width: 40px;
  border: 1px;
  display: flex;
  border-style: inset;
  border-color: black;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  /* transition: all 9.5s; */
}

#reset{
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  transition: all 0.2s;
  margin-top: 20px;
}

  /* @media all and (max-width:30em){
   a.button1{
    display:block;
    margin:0.4em auto;
   }
  } */

.board > div:hover{
  background-color:red;
}

.bomb {
  /* background-color:rgb(250, 134, 92); */
  display: flex;
  justify-content: center;
}

.clicked {
  background-color: black;
  justify-content: center;
  transition:.5s;
  color:white;
}

/* .clicked-zero {
  background-color: khaki;
} */

.flag {
  text-align: center;
  background-color:white;
}

h1 {
  color:black;
	font-size: 90px;  
	font-weight: 900;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  text-shadow: 2px 2px 5px red;
  height: 50px;
  padding: 0px;
  margin-top: 0px;
}

h3 {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  height: 0px;
  color: black;
}

h4 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  color:black;
}

#music {
  margin-top: 40px;
}